[submodule "saas/{{cookiecutter.project_name}}/webapp/zenflows-crypto"]
	path = saas/{{cookiecutter.project_name}}/webapp/zenflows-crypto
	url = https://github.com/interfacerproject/zenflows-crypto
[submodule "saas/{{cookiecutter.project_name}}/admin/zencode/zenflows-crypto"]
	path = saas/{{cookiecutter.project_name}}/admin/zencode/zenflows-crypto
	url = https://github.com/interfacerproject/zenflows-crypto
